.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar-link {
    padding-right: 2rem;
    float: left;
    text-decoration: none;
}

.nav-bar-link:hover {
    color: darkgray;
}

.title{
    color: darkslateblue;
    font-size: 5rem;
}